<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e3cb82d259.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="container-topheader">
            <div class="container-logo-navbar">
                <img class="logo-ml" src="/img/logo-mercado-liebre.svg" alt="logo logo-mercado-liebre">
                <input type="search" name="barra-busqueda" placeholder="Buscar productos, marcas...">
                <button><i class="fa-solid fa-magnifying-glass icon-search"></i></button>
            </div>
            <p class="text-under-navbar"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="main-list">
            <ul>
                <li><a href="ruta1">Ofertas</a></li>
                <li><a href="ruta2">Tiendas Oficiales</a></li>
                <li><a href="ruta3">Vender</a></li>
                <li><a href="ruta4">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="ruta7">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div>
            <img class="img-banner" src="/img/img-home-banner.jpg" alt="img-home-banner">
        </div>
        <h2>Basado en tu última visita</h2>
        <section>
            <article class="article">
                <img class="img-article" src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="300px">
                <div class="div-article">
                    <i class="fa-solid fa-truck"></i>
                    <div class="container-precio-off">
                        <p class="precio-size">$6.770</p>
                        <p class="off">40% Off</p>
                    </div>
                    <p class="descrip">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="article">
                <img class="img-article" src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro" width="300px">
                <div class="div-article">
                    <i class="fa-solid fa-truck"></i>
                    <div class="container-precio-off">
                        <p class="precio-size">$230.000</p>
                        <p class="off">20% Off</p>
                    </div>
                    <p class="descrip">Macbook Pro 2019</p>
                </div>
            </article>

            <article class="article">
                <img class="img-article" src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="300px">
                <div class="div-article">
                    <i class="fa-solid fa-truck"></i>
                    <div class="container-precio-off">
                        <p class="precio-size">$70.500</p>
                        <p class="off">10% Off</p>
                    </div>
                    <p class="descrip">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="article">
                <img class="img-article" src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="300px">
                <div class="div-article">
                    <i class="fa-solid fa-truck"></i>
                    <div class="container-precio-off">
                        <p class="precio-size">$23.200</p>
                        <p class="off">5% Off</p>
                    </div>
                    <p class="descrip">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>

        <h2>Ofertas</h2>
        <section>
            <article class="article">
                <img class="img-article" src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="300px">
                <div class="div-article">
                    <i class="fa-solid fa-truck"></i>
                    <div class="container-precio-off">
                        <p class="precio-size">$6.770</p>
                        <p class="off">40% Off</p>
                    </div>
                    <p class="descrip">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="article">
                <img class="img-article" src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro" width="300px">
                <div class="div-article">
                    <i class="fa-solid fa-truck"></i>
                    <div class="container-precio-off">
                        <p class="precio-size">$230.000</p>
                        <p class="off">20% Off</p>
                    </div>
                    <p class="descrip">Macbook Pro 2019</p>
                </div>
            </article>

            <article class="article">
                <img class="img-article" src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="300px">
                <div class="div-article">
                    <i class="fa-solid fa-truck"></i>
                    <div class="container-precio-off">
                        <p class="precio-size">$70.500</p>
                        <p class="off">10% Off</p>
                    </div>
                    <p class="descrip">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="article">
                <img class="img-article" src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="300px">
                <div class="div-article">
                    <i class="fa-solid fa-truck"></i>
                    <div class="container-precio-off">
                        <p class="precio-size">$23.200</p>
                        <p class="off">5% Off</p>
                    </div>
                    <p class="descrip">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <div class="container-div-footer">
            <i class="fa-solid fa-credit-card ifooter"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="container-div-footer">
            <i class="fa-solid fa-gift ifooter"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="container-div-footer">
            <i class="fa-solid fa-user-shield ifooter"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

        <p class="copyright-text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>