<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e3cb82d259.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <header class="main-header">
        <div class="container-topheader">
            <div class="container-logo-navbar">
                <!-- <div class="container-logo"> -->
                    <img class="logo-ml" src="/img/logo-mercado-liebre.svg" alt="logo logo-mercado-liebre">
                <!-- </div> -->
                <!-- <div class="container-navbar"> -->
                    <input type="search" name="barra-busqueda" placeholder="Buscar productos, marcas...">
                    <button><i class="fa-solid fa-magnifying-glass icon-search"></i></button>
                <!-- </div> -->
            </div>
            <p class="text-under-navbar"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="main-list">
            <ul>
                <li><a href="ruta1">Ofertas</a></li>
                <li><a href="ruta2">Tiendas Oficiales</a></li>
                <li><a href="ruta3">Vender</a></li>
                <li><a href="ruta4">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="ruta5">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li><a href="ruta6">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="ruta7">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <form class="form-login" action="" method="post">
        <div>
            <label class="subtitle" for="email">Nombre de Usuario:</label>
            <input class="datausers" type="email" name="email" id="email" placeholder="Nombre de usuario">
        </div>
    
        <div>
            <label class="subtitle" for="password">Contraseña:</label>
            <input class="datausers" type="password" name="password" id="password" placeholder="Contraseña">
        </div>
    
        <div>
            <button class="buttom-send" type="submit">Enviar</button>
        </div>
    </form>

    <footer>
        <div class="container-div-footer">
            <i class="fa-solid fa-credit-card ifooter"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="container-div-footer">
            <i class="fa-solid fa-gift ifooter"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="container-div-footer">
            <i class="fa-solid fa-user-shield ifooter"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

        <p class="copyright-text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>
</html>